body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dd,
hr,
ul,
ol,
td,
input,
option,
textarea {
	margin: 0;
	padding: 0;
}

body {
	font-family: "微软雅黑";
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	border: none;
	display: block;
}

/* header */

.headerMinBox {
	width: 100%;
	height: 49px;
	background-color: #f5f5f5;
	overflow: hidden;
}

.navbox {
	width: 1190px;
	height: 19px;
	margin: 17px auto 0;
	font-size: 14px;
	line-height: 19px;
	color: #333333;
}

.index {
	color: #616161;
}

.commodity {
	color: #616161;
}

section {
	width: 1280px;
	height: 1242px;
	/* background-color: lightpink; */
	margin: 10px auto 0;
}

.sectionBox {
	width: 1190px;
	height: 1242px;
	/* background-color: skyblue; */
	margin: auto;
	/* position: relative; */
}

.sectionMinBox {
	width: 1130px;
	height: 750px;
	/* position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0; */
	margin: auto;
	/* background-color: yellowgreen; */
}

/* 放大镜 */
@keyframes flash {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}


#smallBox {
	background-image: url(DetailsPageImg/c0.jpg);
	background-position: 0 42px;
	background-repeat: no-repeat;
	background-size: 496px 330px;
	position: absolute;
	left: 388px;
	top: 253px;
	height: 420px;
	width: 496px;
}

#bigBox {
	width: 420px;
	height: 420px;
	background-image: url(DetailsPageImg/c0.jpg);
	background-size: 1200px 800px;
	background-repeat: no-repeat;
	position: absolute;
	top: 252px;
	left: 884px;
	border: 1px solid rgb(136, 136, 136);
	display: none;
	animation: flash 2s;
	transition: all 0.3s linear;
	z-index: 100;
}

#mask {
	height: 173.25px;
	width: 173.6px;
	position: absolute;
	background-color: white;
	border: 1px solid rgb(204, 204, 204);
	opacity: 0.4;
	display: none;
}

.thumbnails {
	width: 543px;
	height: 77px;
	/* background-color: lightpink; */
	position: relative;
	left: -21px;
	top: 469px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.thumbnails img {
	width: 105.41px;
	height: 70.21px;
}

.ThImg{
	cursor: pointer;
}

.summary {
	width: 463px;
	height: 670px;
	/* background-color: lightpink; */
	float: right;
	margin-bottom: 32px;
}

.summary h1 {
	font-size: 26px;
	font-weight: bold;
	color: rgb(51, 51, 51);
	font-family: "微软雅黑";
	margin-bottom: 25px;
}

.border {
	margin-bottom: 25px;
	width: 80px;
	background-color: #dddddd;
	display: block;
	height: 3px;
	margin: 15px 0
}

.summary p {
	width: 463.3px;
	height: 44px;
	/* background: #00EEF3; */
	font-size: 15px;
	font-weight: normal;
	color: #616161;
	margin-bottom: 25px;
}

.price {
	width: 463.3px;
	height: 26px;
	margin-bottom: 25px;
	font-size: 26px;
	font-weight: bold;
	color: #dd3333;
	font-family: tahoma;
	line-height: 26px;
}

.cart {
	width: 463.3px;
	/* height: 275px; */
	/* background-color: greenyellow; */
	margin-bottom: 25px;
}

.cart h3 {
	font-size: 15px;
	font-weight: bold;
	color: #555555;
	margin: 0 0 6px;
}

label {
	width: 457.3px;
	height: 20px;
	font-size: 14px;
	font-weight: normal;
	color: #555555;
	display: block;
	margin: 0 0 6px;
}

.white {
	width: 463.3px;
	/* height: 30px; */
	/* background-color: red; */
	/* padding-top: 10px; */
	/* padding-bottom: 20px; */
	box-sizing: border-box;
}

.cart_button_table{
	font-size: 100%;
	word-spacing: normal;
	font-family: 微软雅黑, Helvetica, Arial, Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #666;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
	border-spacing: 0;
	box-sizing: border-box;
	position: relative;
	border-width: 0 0 1px 0;
}

tbody{
	font-size: 100%;
	word-spacing: normal;
	font-family: 微软雅黑, Helvetica, Arial, Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #666;
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

tr{
	font-size: 100%;
	word-spacing: normal;
	font-family: 微软雅黑, Helvetica, Arial, Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #666;
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.cart_button{
	font-size: 100%;
	word-spacing: normal;
	font-family: 微软雅黑, Helvetica, Arial, Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #666;
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	padding-left: 0;
}

.single_add_to_cart_button{
	border-collapse: collapse;
	border-spacing: 0;
	text-transform: none;
	vertical-align: baseline;
	-webkit-appearance: button;
	box-sizing: border-box;
	margin: 0;
	line-height: 1em;
	cursor: pointer;
	font-family: inherit;
	text-decoration: none;
	overflow: visible;
	left: auto;
	border: 1px solid #c7c0c7;
	background: #f7f6f7;
	white-space: nowrap;
	display: inline-block;
	float: none;
	background-image: none;
	font-size: 15px;
	font-weight: normal;
	color: #000000;
	border-color: #00eef3;
	background-color: #00eef3;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 40px;
	padding-right: 40px;
	z-index: 1;
	position: relative;
}

.quantity{
	font-size: 100%;
	word-spacing: normal;
	font-family: 微软雅黑, Helvetica, Arial, Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #666;
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100%;
	position: relative;
	overflow: hidden;
	zoom: 1;
	float: none;
	margin: 0;
}

.minus{
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
	vertical-align: baseline;
	line-height: normal;
	word-spacing: normal;
	font-style: normal;
	box-sizing: border-box;
	-webkit-appearance: button;
	background: none;
	background-image: none;
	border-style: solid;
	border-width: 1px;
	box-shadow: none;
	cursor: pointer;
	display: inline-block;
	filter: none;
	float: left;
	left: auto;
	margin: 0;
	position: relative;
	text-align: center;
	top: auto;
	font-size: 14px;
	font-weight: normal;
	color: #333333;
	font-family: arial;
	border-color: #cccccc;
	height: 45px!important;
	width: 38px!important;
}

.input-text{
	border-collapse: collapse;
	border-spacing: 0;
	vertical-align: baseline;
	word-spacing: normal;
	font-style: normal;
	box-sizing: border-box;
	border: solid 1px #e0e0e0;
	border-style: solid;
	border-width: 1px 0;
	display: inline-block;
	line-height: 28px;
	margin: 0 0 0 -1px;
	background: transparent;
	font-size: 14px;
	color: #333333;
	font-family: arial;
	border-color: #cccccc;
	border-bottom-color: #cccccc;
	border-top-color: #cccccc;
	height: 45px!important;
	width: 38px!important;
	float: left;
	padding: 0;
	text-align: center;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	-webkit-box-shadow: inset 0 0 2px 0 #f7f6f7;
	font-weight: 400;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.plus{
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
	margin: 0;
	vertical-align: baseline;
	line-height: normal;
	word-spacing: normal;
	font-style: normal;
	box-sizing: border-box;
	-webkit-appearance: button;
	background: none;
	background-image: none;
	border-style: solid;
	border-width: 1px;
	box-shadow: none;
	cursor: pointer;
	display: inline-block;
	filter: none;
	float: left;
	left: auto;
	position: relative;
	text-align: center;
	top: auto;
	font-size: 14px;
	font-weight: normal;
	color: #333333;
	font-family: arial;
	border-color: #cccccc;
	height: 45px!important;
	width: 38px!important;
}

.product_meta{
	font-size: 100%;
	word-spacing: normal;
	font-family: "微软雅黑",Helvetica,Arial,Verdana,sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #666;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	margin-bottom: 25px;
}

.sku_wrapper{
	word-spacing: normal;
	font-style: normal;
	margin: 0;
	box-sizing: border-box;
	border-top: 1px dotted #ddd;
	display: block;
	padding: 7px 0;
	font-size: 14px;
	font-weight: normal;
	color: #777777;
	font-family: 微软雅黑;
	border-color: #dddddd;
}

.sku{
	word-spacing: normal;
	font-style: normal;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 14px;
	font-weight: normal;
	color: #777777;
	font-family: 微软雅黑;
	border-color: #dddddd;
}

.posted_in{
	word-spacing: normal;
	font-style: normal;
	margin: 0;
	box-sizing: border-box;
	border-top: 1px dotted #ddd;
	display: block;
	padding: 7px 0;
	font-size: 14px;
	font-weight: normal;
	color: #777777;
	font-family: 微软雅黑;
	border-color: #dddddd;
}

.posted_in a{
	word-spacing: normal;
	font-style: normal;
	padding: 0;
	margin: 0;
	background: transparent;
	text-decoration: none!important;
	box-sizing: border-box;
	font-size: 14px;
	font-weight: normal;
	color: #dd6363;
	font-family: 微软雅黑;
}

.tagged_as{
	word-spacing: normal;
	font-style: normal;
	margin: 0;
	box-sizing: border-box;
	border-top: 1px dotted #ddd;
	display: block;
	padding: 7px 0;
	font-size: 14px;
	font-weight: normal;
	color: #777777;
	font-family: 微软雅黑;
	border-color: #dddddd;
}

.tagged_as a{
	word-spacing: normal;
	font-style: normal;
	padding: 0;
	margin: 0;
	background: transparent;
	text-decoration: none!important;
	box-sizing: border-box;
	font-size: 14px;
	font-weight: normal;
	color: #dd6363;
	font-family: 微软雅黑;
}

.product-addons-total{
	font-size: 100%;
	word-spacing: normal;
	font-family: 微软雅黑, Helvetica, Arial, Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #666;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	padding-top: 10px;
	padding-bottom: 20px;
	
}

.product-addon-totals{
	font-size: 100%;
	word-spacing: normal;
	font-family: 微软雅黑, Helvetica, Arial, Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #666;
	padding: 0;
	margin: 0;
	list-style: none;
	list-style-image: none;
	box-sizing: border-box;
	overflow: hidden;
	display: none;
}

.product-addon-totals dt{
	font-size: 100%;
	word-spacing: normal;
	font-family: 微软雅黑, Helvetica, Arial, Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #666;
	list-style: none;
	list-style-image: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	width: 50%;
	float: left;
	clear: left;
}

.product-addon-totals dd{
	font-size: 100%;
	word-spacing: normal;
	font-family: 微软雅黑, Helvetica, Arial, Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #666;
	padding: 0;
	margin: 0;
	list-style: none;
	list-style-image: none;
	box-sizing: border-box;
	float: left;
}

.amount{
	word-spacing: normal;
	font-style: normal;
	list-style: none;
	list-style-image: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	line-height: initial!important;
	font-size: 26px;
	font-weight: bold;
	color: #dd3333;
	font-family: tahoma;
}


.secFoot{
	width: 1160px;
	/* height: 1300px; */
	/* background-color: papayawhip; */
	font-size: 100%;
	word-spacing: normal;
	font-family: 微软雅黑, Helvetica, Arial, Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #666;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	border-color: #eeeeee;
	margin-bottom: 15px;
	padding-bottom: 15px;
	clear: both;
}

.tabs{
	font-size: 100%;
	word-spacing: normal;
	font-family: 微软雅黑, Helvetica, Arial, Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #666;
	padding: 0;
	margin: 0;
	list-style: none;
	list-style-image: none;
	box-sizing: border-box;
	display: block;
	overflow: hidden;
	width: 100%;
}

.description_tab{
	font-size: 100%;
	word-spacing: normal;
	font-family: 微软雅黑, Helvetica, Arial, Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #666;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: outside none none;
	vertical-align: top;
	display: inline-block;
}

.no-opennew{
	word-spacing: normal;
	font-style: normal;
	list-style: outside none none;
	margin: 0;
	background: transparent;
	text-decoration: none!important;
	box-sizing: border-box;
	border-top: 4px solid transparent;
	display: block;
	padding: 10px 15px;
	text-transform: uppercase;
	transition: border 200ms ease-out 0s ;
	font-size: 14px;
	font-weight: bold;
	font-family: 宋体;
	margin-right: 25px;
	color: rgb(153, 153, 153);
	border-color: rgb(153, 153, 153);
}


.additional_information_tab{
	font-size: 100%;
	word-spacing: normal;
	font-family: 微软雅黑, Helvetica, Arial, Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #666;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: outside none none;
	vertical-align: top;
	display: inline-block;
}

.reviews_tab{
	font-size: 100%;
	word-spacing: normal;
	font-family: 微软雅黑, Helvetica, Arial, Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #666;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: outside none none;
	vertical-align: top;
	display: inline-block;
}